.cc-container {
  background: transparent;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}
